extends layout

block content 
    h1 Welcome to SpaceX
            form(action="https://api.spacexdata.com/v4/launches/upcoming", method="get") 
                button(type="submit") Upcoming Launches