<div class="container-fluid">
    <h1 style="color: ghostwhite;"> All Launches </h1>
    <a href="/" class="btn btn-secondary">Return Home</a>
    <a href="/upcoming" class="btn btn-secondary lg">Upcoming Launches</a>

    <table class='table table-hover'>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <tr> 
                    <th>Flight Number</th>
                    <th>Date</th>
                    <th>Flight Name</th>
                    <th>Flight Details</th>
                </tr>
                {{#each launchData}}
                <tr> 
                    <script>
                        document.querySelectorAll('.utcToLocal').forEach(
                            (i) => {
                                i.innerHTML = new Date(i.innerHTML).toLocaleString();
                            }
                        )
                    </script>
                    <td>{{this.flight_number}}</td>
                    <td class="utcToLocal">{{this.date_local}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.details}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </table>
</div>