<!DOCTYPE html>
<html>
    <head>
        <link (rel='stylesheet', href='/style.css')>
        <meta(charset='UTF-8')>
    </head>
    <body>
         <div class="content">
             <h2>LAUNCHES!!</h2>
             <p>{{launchData}}</p>
         </div>
    </body>

</html>