<h1 class='title'> All Launches </h1>

    <form action='/', method="get">
        <button type="submit"> Back to Homepage</button>
    </form>
    
    <div class="box">
        <div class='allLaunches'>
            <table class='table'>
                 <tr> 
                    <th>Flight Number</th>
                    <th>Date</th>
                    <th>Flight Name</th>
                    <th>Flight Details</th>
                 </tr>
                 {{#each launchData}}
                    <tr> 
                        <td>{{this.flight_number}}</td>
                        <td>{{this.date_local}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.details}}</td>
                    </tr>
                 {{/each}}
            </table>
        </div>
    </div>