extends layout 

block content 
    .box
        .shipNames
            each elem,i in launchData
                p !{elem.flight_number} - !{elem.date_local} - !{elem.name}: !{elem.details}


            
    
