doctype html
html
    head
        link(rel='stylesheet', href='/style.css')
        script(src='./countdowntimer.js')
        meta(charset='UTF-8')
    body
         .content
            block content