<div class='card'>
        <form action='/login' method='POST'>
            <div class='container'>
                <h1 class='login'>Login</h1> 
                <p>Please enter your email and password to login.</p>
            
                <hr>

                <label for='email'><strong>Email</strong></label>
                <input id='email' type='text' placeholder='Enter Email' name='email' required>

                <label for='psw'><strong>Password</strong></label>
                <input id='psw' type='password' placeholder='Enter Password' name='password' required>

                <hr>

                <button type='submit'>Login</button>
            </div>
        </form>
        <a href="/register">Register</a> 
</div>