extends layout 

block content 
    .card
        form(action='/login' method='GET')
            .container
                h1.login Login 
                p Please enter your email and password to login.
            
                hr

                label(for='email') #[strong Email]
                input#email(type='text' placeholder='Enter Email' name='email' required)

                label(for='psw') #[strong Password]
                input#psw(type='password' placeholder='Enter Password' name='psw' required)

                label(for='psw-repeat') #[strong Repeat Password]
                input#psw-repeat(type='password' placeholder='Repeat Password' name='psw-repeat' required)

                hr

                button.registerbtn(type='submit') Login

