<div class='card'>
        <form action='/register' method='POST'>
            <div class='container'>
                <h1 class='register'> Register </h1> 
                <p> Please fill in this form to create an account. </p>
            
                <hr>

                <label for='firstName'><strong>First Name</strong></label>
                <input id='firstName' type='text' placeholder='Enter First Name' name='firstName' required>

                <label for='lastName'><strong>Last Name</strong></label>
                <input id='lastName' type='text' placeholder='Enter Last Name' name='lastName' required>

                <label for='email'><strong>Email</strong></label>
                <input id='email' type='text' placeholder='Enter Email' name='email' required>

                <label for='psw'><strong>Password</strong></label>
                <input id='psw' type='password' placeholder='Enter Password' name='password' required>

                <label for='psw-repeat'><strong>Repeat Password</strong></label>
                <input id='psw-repeat' type='password' placeholder='Repeat Password' name='psw-repeat' required>

                <hr>

                <p> By creating an account you agree to signup for reminders about upcoming launches. </p>
                <button class='registerbtn' type='submit'>Register</button>
            </div>

            <div class='container-signin'>
                <p> Already have an account? </p>
                    <a href='/login'> Sign In</a>
            </div>
        </form>

</div>