extends layout

block content
    .card
        form(action='/register' method='POST')
            .container
                h1.register Register 
                p Please fill in this form to create an account.
                
                if user
                    p *This User already exists!*

                hr

                label(for='firstName') #[strong First Name]
                input#firstName(type='text' placeholder='Enter First Name' name='firstName' required)

                label(for='lastName') #[strong Last Name]
                input#lastName(type='text' placeholder='Enter Last Name' name='lastName' required)

                label(for='email') #[strong Email]
                input#email(type='text' placeholder='Enter Email' name='email' required)

                label(for='psw') #[strong Password]
                input#psw(type='password' placeholder='Enter Password' name='password' required)

                label(for='psw-repeat') #[strong Repeat Password]
                input#psw-repeat(type='password' placeholder='Repeat Password' name='psw-repeat' required)

                hr

                p By creating an account you agree to signup for reminders about upcoming launches.
                button.registerbtn(type='submit') Register

            .container-signin  
                p Already have an account?
                    a(href='/login')  Sign in 