html, body {
    height: 100%;
    background-color:rgb(74, 95, 102)
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.content {
    width: 100%;
    margin: auto;
}